@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Contact us<br />
    CHINA DGPT 0769-123456<br />
    <abbr title="Phone">P:</abbr>
    180-2903-6333
</address>

<address>
    <strong>Support:</strong>2054410755@qq.com</a><br />
    <strong>Marketing Manager:</strong> 1806924304@qq.com</a>
</address>
