@{
    ViewData["Title"] = "Home Page";
}
<font style="text-align:center"><h1>WELCOME!</h1></font>
<font style="text-align:center"><h2>World Game Platform</h2></font>

<!DOCTYPE html>

<html>

<head>

    <title>Slide</title>

    <style type="text/css">

        * {
            margin: 0;
            padding: 0;
            border: 0;
        }

        .clear {
            *zoom: 1;
        }

            .clear:after {
                visibility: none;
                content: "";
                display: block;
                clear: both;
                height: 0;
            }

        #wrap {
            width: 1100px;
            height: 600px;
            margin: 0 auto;
            position: relative;
            background: pink;
            overflow: hidden;
        }

        #inner {
            width: 1000%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

            #inner img {
                width: 10%;
                height: 100%;
                float: left;
            }

        .paganation {
            width: 100%;
            position: absolute;
            bottom: 10px;
            text-align: center;
        }

            .paganation span {
                padding: 5px 8px;
                background: #F2F2F2;
                color: red;
                border-radius: 50%;
                cursor: pointer;
            }

            .paganation .selected {
                background: red;
                color: white;
            }

        .arrow {
            position: absolute;
            top: 0;
            width: 30px;
            height: 600px;
            line-height: 600px;
            text-align: center;
            color: red;
            cursor: pointer;
        }

        #right {
            right: 0;
        }

        .arrow:hover {
            background: rgba(0,0,0,0.5);
        }
        /* 下拉按钮样式 */
        .dropbtn {
            background-color: #000000;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* 容器 <div> - 需要定位下拉内容 */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* 下拉内容 (默认隐藏) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

            /* 下拉菜单的链接 */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* 鼠标移上去后修改下拉菜单链接颜色 */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* 在鼠标移上去后显示下拉菜单 */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* 当下拉内容显示后修改下拉按钮的背景颜色 */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

</head>

<body>

    <div id="wrap">

        <div id="inner" class="clear">

            <img src="/images/call.jpg">

            <img src="/images/timg.jpg">

            <img src="/images/timg0G3X46ZG.jpg">

            <img src="~/images/timg37XFLNI0.jpg" />

            <img src="~/images/timg968HOU1C.jpg" />

            <img src="~/images/timgH3Z7MVXU.jpg" />
        </div>

        <div class="paganation" id="paganation">

            <span class="selected">1</span>

            <span>2</span>

            <span>3</span>

            <span>4</span>

            <span>5</span>

            <span>6</span>



        </div>

        <div id="left" class="arrow"></div>

        <div id="right" class="arrow"></div>

    </div>
     <p><font color="red">* Our platform picture are come from every game website!</font></p>
        <p><font color="red">* For academic exchange only!</font></p>
</body>

<script type="text/javascript">

    var wrap = document.getElementById("wrap");

    var inner = document.getElementById("inner");

    var spanList = document.getElementById("paganation").getElementsByTagName("span");

    var left = document.getElementById("left");

    var right = document.getElementById("right");



    var clickFlag = true;//设置左右切换标记位防止连续按

    var time;

    var index = 0;//记录每次滑动图片的下标

    var Distance = wrap.offsetWidth;//获得展示区的宽度，即图片的宽度

    function AutoGo() {

        var start = inner.offsetLeft;//获得相对于父元素的left，这里就是对与wrap的left

        var end = index * Distance * (-1);

        var change = end - start;//通过这三个变量来控制图片向左向右，change的+—来控制左右移动



        var timer;//用计时器为图片添加动态效果

        var t = 0;

        var maxT = 30;

        clear();

        if (index == spanList.length) {//index到最后一张图片时

            spanList[0].className = "selected";

        } else {

            spanList[index].className = "selected";

        }

        clearInterval(timer);

        timer = setInterval(function () {

            t++;

            if (t >= maxT) {

                clearInterval(timer);

                clickFlag = true;

            }

            inner.style.left = change / maxT * t + start + "px";

            if (index == spanList.length && t >= maxT) {

                inner.style.left = 0;

                index = 0;

                //当图片到最后一张时把它瞬间切换回第一张，由于都是同一张图片不会影响效果

            }

        }, 17);//每17毫秒让块移动change/maxT×t

    }

    function forward() {

        index++;

        if (index > spanList.length) {

            index = 0;

        }

        AutoGo();

    }

    function backward() {

        index--;

        //当图片下标到第一张让它返回倒数第二张，倒数第一张和第一张是一样的

        //left值要变到最后一张才不影响过渡效果

        if (index < 0) {

            index = spanList.length - 1;

            inner.style.left = (index + 1) * Distance * (-1) + "px";

        }

        AutoGo();

    }

    time = setInterval(forward, 3000);

    wrap.onmouseover = function () {

        clearInterval(time);

    }

    wrap.onmouseout = function () {

        time = setInterval(forward, 3000);

    }

    //遍历每个按钮让其切换到对应图片

    for (var i = 0; i < spanList.length; i++) {

        spanList[i].onclick = function () {

            index = this.innerText - 1;

            AutoGo();

        }

    }

    left.onclick = function () {

        if (clickFlag) {

            backward();

        }

        clickFlag = false;

    }

    right.onclick = function () {

        if (clickFlag) {

            forward();

        }

        clickFlag = false;

    }

    function clear() {

        for (var i = 0; i < spanList.length; i++) {

            spanList[i].className = "";

        }

    }
   
</script>

</html>
